Tools/update/testimporttaches_update_URgMQzjvoVi5UiUg.json
{
  "createdAt": "2026-01-07T15:41:22.283Z",
  "updatedAt": "2026-01-07T16:09:55.978Z",
  "id": "URgMQzjvoVi5UiUg",
  "name": "testimporttaches",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio",
          "mode": "list",
          "cachedResultName": "societe_courtage_auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ],
      "id": "91e09d62-44c6-4873-b0df-1e2c7bc218d4",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "TVdetiZaRtbFnico",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "={{ $json['tableau de bord'] }}",
        "groupId": "group_mkyq77xt",
        "name": "={{ $json['nom de la tâche'] }}",
        "additionalFields": {
          "columnValues": "={\n  \"numbers45\": {{ $json.Estimation }},\n  \"people0\": {\n    \"personsAndTeams\": [\n      {\n        \"id\": {{ $json.personnes }},\n        \"kind\": \"person\"\n      }\n    ]\n  },\n  \"timeline\": {\n    \"from\": \"{{ new Date(($json['date de debut'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\",\n    \"to\": \"{{ new Date(($json['date de fin'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\"\n  },\n  \"status\": {\n    \"label\": \"A planifier\"\n  }\n}\n"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "bf6cab5e-168e-430b-b274-87de98f2a1f7",
      "name": "Create an item in a board's group",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardColumn",
        "operation": "getAll",
        "boardId": "18390207739"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        384,
        -240
      ],
      "id": "ac344c55-fad0-48c5-ab36-dddef572667d",
      "name": "Get many board columns",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation ($itemId: ID!, $body: String!) { create_update (item_id: $itemId, body: $body) { id } }\",\n  \"variables\": {\n    \"itemId\": \"{{ $json.id }}\",\n    \"body\": \"{{ $('Google Sheets Trigger').item.json.description }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -32
      ],
      "id": "d33c0862-bab6-44fb-864b-cd30d94908f9",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "zLISmA63cLZhB0e9",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "10919070881"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        592,
        -240
      ],
      "id": "95473ec3-faba-4732-92ad-9ed48e4a639d",
      "name": "Get an item",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Create an item in a board's group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item in a board's group": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many board columns": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio",
      "sheetId": 0,
      "lastRevision": 133,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio&revision=133&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "18a1433a-d679-4c2e-9a78-595bfa80bbbb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-01-07T15:41:22.283Z",
      "updatedAt": "2026-01-07T15:41:22.283Z",
      "role": "workflow:owner",
      "workflowId": "URgMQzjvoVi5UiUg",
      "projectId": "7M47LiM9AeRzi2zC",
      "project": {
        "createdAt": "2025-12-20T19:17:46.748Z",
        "updatedAt": "2025-12-20T21:12:25.156Z",
        "id": "7M47LiM9AeRzi2zC",
        "name": "Laurent Lemonnier <laurent@isoluce.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-12-20T19:17:46.748Z",
            "updatedAt": "2025-12-20T19:17:46.748Z",
            "userId": "61bdd169-53a3-4b35-bf54-31ce40caeafc",
            "projectId": "7M47LiM9AeRzi2zC",
            "user": {
              "createdAt": "2025-12-20T19:17:46.323Z",
              "updatedAt": "2026-01-09T05:00:21.273Z",
              "id": "61bdd169-53a3-4b35-bf54-31ce40caeafc",
              "email": "laurent@isoluce.net",
              "firstName": "Laurent",
              "lastName": "Lemonnier",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-20T21:13:07.519Z",
                "personalization_survey_n8n_version": "1.110.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eUA4D4rp8bIt2iPa",
                "userActivatedAt": 1766353771399,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766723609272
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}