Tools/gmail tool workflow.json
{
  "name": "gmail tool workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "manual",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'gmail',\n      operation,\n      params\n    }\n  };\n});\n"
      },
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.params.to || $json.params.sendTo || }}",
        "subject": "={{$json.params.subject || }}",
        "emailType": "text",
        "message": "={{$json.params.text || $json.params.message || }}",
        "options": {}
      },
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        160
      ],
      "webhookId": "0f05effe-359d-4441-8e3e-633349fd9e64",
      "credentials": {
        "gmailOAuth2": {
          "id": "BrVSFopbE0u2s79E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": "={{$json.params.label_ids || $json.params.labelIds || []}}"
        },
        "options": {}
      },
      "id": "message-getMany",
      "name": "message.getMany",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        336
      ],
      "webhookId": "773e065d-d81f-496a-a614-327c63685818",
      "credentials": {
        "gmailOAuth2": {
          "id": "BrVSFopbE0u2s79E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'gmail', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      },
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        592
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.operation}}",
        "rules": {
          "rules": [
            {
              "value2": "message.send"
            },
            {
              "value2": "message.getMany",
              "output": 1
            },
            {
              "value2": "sampleFetch",
              "output": 2
            }
          ]
        }
      },
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const payload = item.json || {};\n  const toolResult = payload.toolResult ||\n    (payload.ok !== undefined ? payload : { ok: true, data: payload, error: null });\n  return { json: toolResult };\n});\n"
      },
      "id": "map-provider-response",
      "name": "Map Provider Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return items;\n"
      },
      "id": "return-tool-result",
      "name": "Return toolResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "message.send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "message.getMany",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sampleFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message.send": {
      "main": [
        [
          {
            "node": "Map Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message.getMany": {
      "main": [
        [
          {
            "node": "Map Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sampleFetch": {
      "main": [
        [
          {
            "node": "Map Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Provider Response": {
      "main": [
        [
          {
            "node": "Return toolResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return toolResult": {
      "main": []
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "c31b80f1-8227-4d8c-8089-bd2377665477",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b6b2aef4d5e3975455414bac92c9859fdea5bc29c426921a892373fa4c904f0"
  },
  "id": "d0BI2HN94ZeyihMS",
  "tags": []
}