Tools/workflow-upload.json
{
  "name": "andy test upload",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio",
          "mode": "list",
          "cachedResultName": "societe_courtage_auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWBYGsmbwQQjKA6Qnrhi4M3WK05JJHT-YDJrSZRvIio/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ],
      "id": "a0413981-c5a9-4631-85cf-d05c80a8cab4",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "TVdetiZaRtbFnico",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "={{ $json['tableau de bord'] }}",
        "groupId": "group_mkyq77xt",
        "name": "={{ $json['nom de la tâche'] }}",
        "additionalFields": {
          "columnValues": "={\n  \"numbers45\": {{ $json.Estimation }},\n  \"people0\": {\n    \"personsAndTeams\": [\n      {\n        \"id\": {{ $json.personnes }},\n        \"kind\": \"person\"\n      }\n    ]\n  },\n  \"timeline\": {\n    \"from\": \"{{ new Date(($json['date de debut'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\",\n    \"to\": \"{{ new Date(($json['date de fin'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\"\n  },\n  \"status\": {\n    \"label\": \"A planifier\"\n  }\n}\n"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "2f2a0388-f3e2-4af1-b293-5fd7b0cecdce",
      "name": "Create an item in a board's group",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardColumn",
        "operation": "getAll",
        "boardId": "18390207739"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        384,
        -240
      ],
      "id": "f986469b-8fd3-4c96-be7c-b06d43514a95",
      "name": "Get many board columns",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation ($itemId: ID!, $body: String!) { create_update (item_id: $itemId, body: $body) { id } }\",\n  \"variables\": {\n    \"itemId\": \"{{ $json.id }}\",\n    \"body\": \"{{ $('Google Sheets Trigger').item.json.description }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -32
      ],
      "id": "8ab227ef-0483-478b-b381-07b1a5ceccb8",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "zLISmA63cLZhB0e9",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andy@example.com",
        "subject": "Mise à jour Monday créée",
        "emailType": "text",
        "message": "={{ 'Une mise à jour a été créée (id: ' + ($json.data?.create_update?.id || 'inconnue') + ').' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        64
      ],
      "id": "d6c12345-6789-4abc-9102-abcdef123456",
      "name": "Send Gmail notification",
      "credentials": {
        "gmailOAuth2": {
          "id": "BrVSFopbE0u2s79E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "10919070881"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        592,
        -240
      ],
      "id": "5de2d68b-7447-4f4a-ae39-0b806ab2e98c",
      "name": "Get an item",
      "credentials": {
        "mondayComApi": {
          "id": "Zr4tt8SWsgTYIMrZ",
          "name": "Monday.com account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Create an item in a board's group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item in a board's group": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Gmail notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail notification": {
      "main": []
    },
    "Get many board columns": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
